<% if @taxon %>
  <% if @taxon.name == 'osez' %>
      <div id="asso-desc" class="col-sm-12">
        <div id="asso-img" class="col-md-6">
          <div class="hovereffect">
              <%= image_tag("Osez_generique.jpg", :alt => "osez", :class => "asso-splash") %>
              <div class="overlay">
                 <a href="http://osez-lingerie.fr/" target="_blank"><h2>Osez</h2></a>
                 <p>Osons nous libérer des diktats.<br><a href="http://osez-lingerie.fr/" target="_blank">OSEZ</a>, c'est l'audace de rétablir une image positive des Femmes par le biais de la mode. Pas de mannequin, pas de corps Photoshopés et des femmes bien dans leurs culottes</p>
                 <a class="info" href="http://osez-lingerie.fr/" target="_blank">En savoir plus</a>
              </div>
          </div>
        </div>
        <div id="asso-img" class="col-md-6">
          <div class="hovereffect">
              <%= image_tag("Ldanslaville.jpg", :alt => "L dans la ville", :class => "asso-splash") %>
              <div class="overlay">
                <a href="http://www.sportdanslaville.com/nos-programmes/l-dans-la-ville/" target="_blank"><h2>L dans la ville</h2></a>
                <p><a href="http://www.sportdanslaville.com/" target="_blank">Sport dans la Ville</a> est la principale association d’insertion par le sport en France. <br>L'ensemble des programmes mis en place par Sport dans la Ville, permet de favoriser l'insertion sociale et professionnelle des 4.500 jeunes inscrits à l'association, en participant activement à leur progression et à leur développement personnel.</p>
                <a class="info" href="http://www.sportdanslaville.com/nos-programmes/l-dans-la-ville/" target="_blank">En savoir plus</a>
              </div>
          </div>
        </div>
      </div>
  <% elsif @taxon.name == 'calchemise' %>
      <div id="asso-desc" class="col-sm-12">
        <div id="asso-img" class="col-md-6">
          <div class="hovereffect">
              <%= image_tag("calchemise.jpg", :alt => "calchemise", :class => "asso-splash") %>
              <div class="overlay">
                 <a href="https://www.calchemise.com/" target="_blank"><h2>Calchemise</h2></a>
                 <p>La chemise a 5000 ans.<br>Il est grand temps d'innover : caleçon + chemise = <a href="https://www.calchemise.com/" target="_blank">calchemise</a></p>
                 <a class="info" href="https://www.calchemise.com/" target="_blank">En savoir plus</a>
              </div>
          </div>
        </div>
        <div id="asso-img" class="col-md-6">
          <div class="hovereffect">
              <%= image_tag("calcutta.png", :alt => "calcutta", :class => "asso-splash") %>
              <div class="overlay">
                <a href="http://calcuttarueecole.fr/" target="_blank"><h2>Calcutta</h2></a>
                <p><a href="http://calcuttarueecole.fr/" target="_blank">Calcutta, de la rue à l'école</a> vise à améliorer la qualité de vie des enfants déshérités, promouvoir leur éducation et développer leurs compétences, avec pour objectif de les aider à se valoriser.<br>Ils peuvent ainsi grandir en prenant confiance en eux et en leur avenir.</p>
                <a class="info" href="http://calcuttarueecole.fr/" target="_blank">En savoir plus</a>
              </div>
          </div>
        </div>
      </div>
  <% end %>
<% end %>