<!-- Section vente 01 -->
<section id="brand-splash1">
  <!-- Page Content -->
  <div class="container">
      <!-- Row -->
      <div class="row">
          <div class="col-md-12">
              <div class="col-md-4 col-md-offset-1">
                <div class="white-square-bg">
                  <h3>
                    <a href="#">Osez !</a>
                  </h3>
                  <p>Des culottes au poil pour les femmes libres ! Retrouvez les ventes de la marque Osez ! au profit de l'association <strong>Sport dans la ville</strong>.</p>
                </div>
              </div>
          </div>
      </div>
      <!-- /.row -->
      <!-- Row -->
      <div class="row">
        <div class="col-md-1 col-md-offset-10 col-xs-offset-7">
          <button class="btn btn-outline push-down">J'achète !</button>
        </div>
      </div>
      <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.section 01 -->

  <!-- Section vente 02 -->
<section id="brand-splash2">
  <!-- Page Content -->
  <div class="container">
      <!-- Row -->
      <div class="row">
          <div class="col-md-12">
              <div class="col-md-4 col-md-offset-1">
                <div class="white-square-bg">
                  <h3>
                    <a href="#">Le Shape</a>
                  </h3>
                  <p>Le skateboard comme une extension de vous-même. Le Shape vous permet de créer une planche de skate à votre image. Cette vente est au profit de la <strong>Fondation du souffle</strong>.</p>
                </div>
              </div>
          </div>
      </div>
      <!-- /.row -->
      <!-- Row -->
      <div class="row">
        <div class="col-md-1 col-md-offset-10 col-xs-offset-7">
          <button class="btn btn-outline push-down">J'achète !</button>
        </div>
      </div>
      <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.section 02 -->

<!-- Section vente 03 -->
<section id="brand-splash3">
  <!-- Page Content -->
  <div class="container">
      <!-- Row -->
      <div class="row">
          <div class="col-md-12">
              <div class="col-md-4 col-md-offset-1">
                <div class="white-square-bg">
                  <h3>
                    <a href="#">Calchemise</a>
                  </h3>
                  <p>Messieurs, ne laissez plus personne matter votre derrière lorsque vous vous baissez. Avec Calchemise fini le sourire du plombier. Cette vente est en faveur de <strong>Main dans la main</strong>.</p>
                </div>
              </div>
          </div>
      </div>
      <!-- /.row -->
      <!-- Row -->
      <div class="row">
        <div class="col-md-1 col-md-offset-10 col-xs-offset-7">
          <button class="btn btn-outline push-down">J'achète !</button>
        </div>
      </div>
      <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.section 03 -->
