<!-- Page Content -->
<div class="container">
  <!-- Section vente 01 -->
  <section id="brand-splash1">
    <!-- Row -->
    <div class="row">
      <div class="ruban">
        <h2>-35% !</h2>
      </div>
      <div class="col-md-12">
        <div class="col-md-4 col-md-offset-1">
          <div class="white-square-bg">
            <h3>
              <%= link_to "Osez !",'/shop/t/osez'%>
            </h3>
            <p>Des culottes au poil pour les femmes libres&nbsp;! Retrouvez les ventes de la marque Osez&nbsp;! au profit de l'association <strong><a target="_blank" style="color:#000000;" href="http://www.sportdanslaville.com/nos-programmes/l-dans-la-ville/">L dans la ville</a></strong>.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
    <!-- Row -->
    <div class="row">
      <div class="col-md-1 col-md-offset-10 col-xs-offset-7">
        <a href="/shop/t/osez/" <button class="btn btn-outline push-down">J'achète !</button></a>
      </div>
    </div>
    <!-- /.row -->
  </section>
  <!-- /.section 01 -->
</div>
<!-- /.container -->

<!-- Page Content -->
<div class="container">
  <!-- Section vente 02 -->
  <section id="brand-splash2">
    <!-- Row -->
    <div class="row">
      <div class="ruban">
        <h2>-20% !</h2>
      </div>
      <div class="col-md-12">
        <div class="col-md-4 col-md-offset-1">
          <div class="white-square-bg">
            <h3>
              <%= link_to "Calchemise",'/shop/t/calchemise'%>
            </h3>
            <p>Messieurs, ne laissez plus personne matter votre derrière lorsque vous vous baissez. Avec Calchemise fini le sourire du plombier. Cette vente est en faveur de <strong><a target="_blank" style="color:#000000;" href="http://calcuttarueecole.fr/">Calcutta de la rue à l'école</a></strong>.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
    <!-- Row -->
    <div class="row">
      <div class="col-md-1 col-md-offset-10 col-xs-offset-7">
        <a href="/shop/t/calchemise/" <button class="btn btn-outline push-down">J'achète !</button></a>
      </div>
    </div>
    <!-- /.row -->
  </section>
  <!-- /.section 02 -->
</div>
<!-- /.container -->
